* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width:100vw;
    display: grid;
    place-items: center;
    background: #5f5d70;
}

.clock-body{
    height: 15rem;
    width: 15rem;
    border: .8rem solid #333;
    border-radius: 0%;
    position: relative;
}

.circle{
    width: 1rem;
    height: 1rem; 
    border-radius: 50%;
    background:rgba(220, 20, 60, 0.466);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateY(-50%) translateX(-50%);
}

.hand{
    width: 50%;
    height: .5rem;
    background: #333;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(0deg) ;
    transform-origin: 100%;
}

.second::after, .second::before{
    content: "";
    display: block;
}

.second::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 5rem;
    background: #333ddd;
    transform: rotate(270deg);
}

.minute{
    transform: rotate(90deg);
}

.hour{
    
    background: #0ddd;
    transform: rotate(180deg);
}