@import url(//fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*------------ Navbar---------*/

.nav-bar{
    background: black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.nav-bar > .logo {
    cursor: pointer;
    user-select: none;
    font-size: 30px;
}

.nav-bar > .logo > span:first-child {
    color: white;
    font-weight: bold;
}

.nav-bar > .logo > span:last-child {
    color: orange;
    font-weight: 100;
}

.nav-bar > .menu {
}

.nav-bar > .menu > ul {}

.nav-bar > .menu > ul > li {
    display: inline;
}

.nav-bar > .menu > ul > li > a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.nav-bar > .menu > ul > li > a:hover{
    font-weight: bold;
}
/* 
.nav-bar{
    background: black;
    height: 60px;
    position: relative;
    width: 100%;
}

.nav-bar > .logo {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 30px;
}

.nav-bar > .logo > span:first-child {
    color: white;
    font-weight: bold;
}

.nav-bar > .logo > span:last-child {
    color: orange;
    font-weight: 100;
}

.nav-bar > .menu {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.nav-bar > .menu > ul {}

.nav-bar > .menu > ul > li {
    display: inline;
}

.nav-bar > .menu > ul > li > a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 15px;
}

.nav-bar > .menu > ul > li > a:hover{
    font-weight: bold;
}
 */
