* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	background: #5f5d70;
}

#spacebar {
	height: 3rem;
	width: 20rem;
	margin: 1rem;
	background: #0003;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.3rem;
	text-shadow: 0 0 0.3rem black;
	transition: all 0.07s ease;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.playing,
#spacebar:active {
	border: 2px solid #0003;
	/* background:  */
	box-shadow: 0 0 0 black;
}

.key-name {
	font-size: 1rem;
	color: #fff;
	font-family: monospace;
	font-weight: 500;
}
